* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", arial, helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}
header {
  margin: 2em;
}
h3 {
  margin-top: 50px;
}
li {
  margin: 25px 50px 0 0;
}
table {
  width: 100%;
  padding: 0 50px 0 50px;
  background: #f2fcfe;
}
td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}

footer {
  background: #250048;
  color: white;
  padding: 2em 1em;
}
footer a {
  color: #00d1ee;
  font-weight: bolder;
}
footer li {
  list-style-type: none;
  padding: 0;
  text-align: left;
}
footer ul {
  padding: 2em 0;
}

table td {
  padding: 1em;
}
